@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");


body {
    
    background-color: #FFFFF;
    background-image: radial-gradient(circle, #7F8C8D 0%, #000000 100%);
    display: flex;

    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

img {
  border-radius: 10%;
}

 hr{
    border: 0;
    border-top: 5px solid #999999;
    border-radius: 10px;
    margin: 20px;
    text-align: left;
 }
 

  
 input, label {
    display:inline-block;
}


/*.row{
    background-color: #FFFFF;
    
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    border-radius: 10px;
}*/



 .container{
    background-color: #ffFFFf;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    overflow: hidden;
    text-align: center;
    max-width: 100%;
    
 }
 
 .jumbotron{
/*    border-radius: 10px;
    margin-top: 1em;
    text-align: center;
    background-image: radial-gradient(circle, #000000 0%, #7F8C8D 100%);
    color: white;*/
    margin:15px 30px 0px 30px;
    border-radius:5px;
    background: 
    /*url(https://source.unsplash.com/900x700/?cars);*/
    url(https://images.unsplash.com/photo-1568193810327-db9e8b4561e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    /*width: 100%; height: 100%; object-fit: cover;*/
     background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-shadow: 2px 2px 3px black;
        color:white !important;
    height:340px;
         
 }

 .vehicule{
    width: 300px;
    padding: 20px;
    border-radius: 20px;

    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    display: inline-block;
    margin : 1em
 }
 

 
 .page-title{
    margin: 3em;
    text-align: left;

 }
 
 .page-option{
    margin: 3em;
    text-align: left;
 }
 .content-title{
    margin: 3em;

    text-align: left;
 }
 
 .search-box{
     box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
 }
 
.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
    color:white;
    background-color: #7F8C8D;
    
 }
 
