<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css" />
        <title>HERO</title>
    </head>
    <body>
        <!-- Main Body of Page -->
        
        <div class="container">
            
            <!-- nav bar fragment-->
            <div th:replace="~{fragments/header :: header}"> </div>

            <hr/>
               
            <div class="page-title">
                <h1>Add Vehicule</h1>
            </div>

            <div class="vehicule-container">
                
            <!--PRETTIFY THIS...-->

                <div class="vehicule-info">

                    <div class="col-12 text-center m-3">
                        <!--<form action="/sales/purchase/id=${vehicule.vehiculeId})" method="POST">-->

                        <form action="/admin/addVehicule" method="POST" enctype="multipart/form-data">
                            <div class="row">
                                <label for="makeId" class="col-3 col-form-label">
                                Make</label>
                                <div>
                                    <select id="makeId" name="makeId" class="form-control" >
                                        <option th:each="make : ${makes}" 
                                                th:value="${make.makeId}" 
                                                th:text="${make.name}">
                                            Make name</option>
                                    </select>
                                </div>
                                    <label for="modelId" class="col-3 col-form-label">
                                    Model</label>
                                <div>
                                    <select id="modelId" name="modelId" class="form-control" >
                                    </select>
                                    
                                </div>


                            </div>
                            <div class="form-group row">
                                
                                <label for="type" class="col-3 col-form-label">
                                Type</label>
                                <div class="col-9">
                                    <select id="type" name="type" class="form-control" >
                                        <option value="New">New</option>
                                        <option value="Used">Used</option>
                                    </select>
                                </div>
                                
                                <label for="bodyStyle" class="col-3 col-form-label">
                                Body Type</label>
                                <div class="col-9">
                                    <select id="bodyStyle" name="bodyStyle" class="form-control" >
                                        <option value="Car">Car</option>
                                        <option value="SUV">SUV</option>
                                        <option value="Truck">Truck</option>
                                        <option value="Van">Van</option>
                                    </select>
                                </div>
                                
                                
                                <label for="year" class="col-3 col-form-label">
                                    Year</label>
                                <div class="col-9">
                                    <input type="number" name="year" 
                                           id="year" class="form-control" required="required" min="2000" value="2000"/>
                                </div>
                                
                                <label for="transmission" class="col-3 col-form-label">
                                Automatic</label>
                                <div class="col-9">
                                    <select id="transmission" name="transmission" class="form-control" >
                                        <option value="Automatic">Automatic</option>
                                        <option value="Manual">Manual</option>
                                    </select>
                                </div>
                                
                                <label for="exteriorColor" class="col-3 col-form-label">
                                Color</label>
                                <div class="col-9">
                                    <select id="exteriorColor" name="exteriorColor" class="form-control" >
                                        <option value="Red">Red</option>
                                        <option value="Blue">Blue</option>
                                        <option value="Green">Green</option>
                                        <option value="White">White</option>
                                        <option value="Black">Black</option>
                                    </select>
                                </div>
                                
                                
                                
                                <label for="interiorColor" class="col-3 col-form-label">
                                Interior</label>
                                <div class="col-9">
                                    <select id="interiorColor" name="interiorColor" class="form-control" >
                                        <option value="Red">Red</option>
                                        <option value="Blue">Blue</option>
                                        <option value="Green">Green</option>
                                        <option value="White">White</option>
                                        <option value="Black">Black</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="mileage" class="col-3 col-form-label">
                                    Mileage</label>
                                <div class="col-9">
                                    <input type="number" name="mileage" 
                                           id="mileage" class="form-control"  min="0" max="1000" value ="0" required/>
                                </div>
                            </div>


                            <div class="form-group row">
                                <label for="VINNumber" class="col-3 col-form-label">
                                    VIN #</label>
                                <div class="col-9">
                                    <input type="text" name="VINNumber" 
                                           id="VINNumber" class="form-control" required/>
                                </div>
                            </div>


                            <div class="form-group row">
                                <label for="MSRP" class="col-3 col-form-label">
                                    MSRP</label>
                                <div class="col-9">
                                    <input type="number" name="MSRP" 
                                           id="MSRP" class="form-control" min="0" value ="0" required/>
                                </div>
                            </div>


                            <div class="form-group row">
                                <label for="salePrice" class="col-3 col-form-label">
                                    Sale Price</label>
                                <div class="col-9">
                                    <input type="number" name="salePrice" 
                                           id="salePrice" class="form-control" min="0" value ="0" required/>
                                </div>
                            </div>

                            <div class="form-group row">
                            <label for="description" class="col-3 col-form-label">
                                Message</label>
                            <div class="col-9">
                                <textarea class="form-control" rows = "5" name = "description" id="description" required></textarea>
                            </div>
                        </div>
                        <div>    
                        <input id="file" type="file" name="file" accept=".jpg,.jpeg, .png"  required>
<!--                        <label for="file" class="btn btn-primary">Select Image</label>
                        <input id="file" type="file" name="file" style="visibility:hidden;" required>-->
                        </div>    
                            
                            <input type="hidden" id="userId" name="userId"/>
                            <button type="submit" class="btn btn-primary">Add vehicule</button>
                        </form>
                        
                        
                    </div>
                </div>  
            
            </div>
        </div>

                <!-- End main body -->


            <!-- Optional JavaScript -->
            <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
            <script type="text/javascript" th:src="@{/js/getUser.js}"></script>
            <script type="text/javascript" th:src="@{/js/addNavbarItems.js}"></script>
            <script type="text/javascript" th:src="@{/js/formRestrictionAddVehicule.js}"></script>
    </body>
</html>