<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css" />
        <title>HERO</title>
    </head>
    <body>
        <!-- Main Body of Page -->
        
        <div class="container">
            
            <!-- nav bar fragment-->
            <div th:replace="~{fragments/header :: header}"> </div>
            
            <!--jumbotron-->
            <!--<div th:replace="~{fragments/jumbotron :: jumbotron}"> </div>-->
            
            
            <hr/>
                
            <div class="page-title">
                <span ><h1>Specials</h1></span>
                
            </div>
            
            <div class ="add-make-container">
                <form action="/admin/addSpecial" method="POST">
                    <div class="form-group row">  
                        <label for="title" class="col col-form-label">
                        Title</label>
                        <div class="col">
                            <input type="text" name="title" 
                            id="title" class="form-control" required/>
                        </div>
                    </div>
                        <label for="description" class="col col-form-label">
                        Description</label>
                        <div class="col">
                            <textarea class="form-control" rows = "5" cols = "50" name ="description" id="description" required></textarea>
                        </div>
                        <div class="col">
                            <input type="hidden" id="userId" name="userId"/>
                            <button type="submit" class="btn btn-primary" id="save-button">Save</button>
                        </div>
                </form>
            </div>
            <div class="makes-container">

                <div class="special" th:each="special : ${specials}">
                    
                    <span th:text="${special.title}"></span> <br/>      
                    <span th:text="${special.description}"/></span> <br/>
                    <div>
                        <form action="/admin/deleteSpecial" method="POST" onSubmit="return confirm('Are you sure?');" id="delete-form">
                            
                            <input type="hidden" id="specialId" name="specialId" th:value="${special.specialId}"/>

                            <button type="submit" class="btn btn-danger" id="delete-button">Delete</button>
                        </form>
                        
                    </div>

                </div>
            </div>
        </div>

        
            <!-- End main body -->

<!--        <input type="hidden" id="role" name="role" th:value="${user.role}"/>
        <input type="hidden" id="email" name="email" th:value="${user.email}"/>-->
        <!-- Optional JavaScript -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script type="text/javascript" th:src="@{/js/addNavbarItems.js}"></script>
        <script type="text/javascript" th:src="@{/js/checkUserIsAdmin.js}"></script>
        <script type="text/javascript" th:src="@{/js/getUser.js}"></script>
        <!--<script type="text/javascript" th:src="@{/js/adminSpecialsConfirmDelete.js}"></script>-->
    </body>
</html>